---
import "@fontsource/inter/variable.css";
import "~/styles/chladni.css";
import "~/styles/index.css";
import ChladniPlate from "~/components/chladni-plate.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Splash from "~/components/splash.astro";
import Starfield from "~/components/starfield.astro";


const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description = "A demonstration of my skills as a software developer.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>ellesdy.devOps</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ellesdy.devOps" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

  </head>
  <body>
    <Header />
    <Starfield />
    <div>
      <ChladniPlate />
    </div>
  </body>
</html>
